@{
    @ViewBag.Title
}

<style>
    img {
        float: left;
    }
</style>
<style>
    .row {
        margin-right: 5px;
        margin-left: 5px;
    }
</style>
<style>
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
</style>
<section class="site-blocks-cover overflow-hidden">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            
            <div class="col-md-12 align-self-center">
                <img src="~/Content/images/KCBanner.JPG" />


                <style>
                    div.polaroid {
                        width: 100%;
                        background-color: white;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        margin-bottom: 25px;
                    }

                    div.container {
                        text-align: center;
                        padding: 10px 20px;
                    }
                </style>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="polaroid">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                
            </div>

        </div>
    </div>
</section>
<section class="responsive">
    <div class="responsive">
        <div class="row">
            <div class="blog-entry">
                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-center">
                        <p style="font-size: 18px"<strong>Alicia "AJ" Jones Pittman, LSCSW, LCSW, LMAC, SEP is the Clinician for 42 C.A.R.E.S.</strong></p> 

                        <img src="~/Content/images/aj.jpeg" alt="biopicture" class="responsive">
                        <div class="responsive">
                            
                            <p style="font-size: 18px">"AJ" earned both her undergraduate degree in psychology & Master of Social Work (MSW) degree from the University of Kansas. Alicia is an experienced psychotherapist who specializes in the areas of resiliency, trauma and addiction.  Alicia utilizes several therapeutic modalities to include Somatic Experiencing™ (SE®), EMDR, DBT, ACT. Alicia has extensive experience in working with veterans, first responders and their families. Alicia is passionate about supporting people to better understand their normal human responses to circumstances that can feel abnormal.  Alicia feels passionately about working with people to reduce the effects of trauma in their lives and help sustain healthy living for both individuals and families.</p>

                            <p style="font-size: 18px">Alicia has personally vetted many therapists in the Kansas City Metro area and included links to those therapists in the menu option named "EAP".</p>
                            <hr>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</section>

