@{
    @ViewBag.Title
}

    <style>
        img {
            float: left;
        }
    </style>
    <section class="site-blocks-cover overflow-hidden">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 align-self-center">
                    <style>
                        div.polaroid {
                            width: 100%;
                            background-color: white;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            margin-bottom: 25px;
                        }

                        div.container {
                            text-align: center;
                            padding: 10px 20px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="polaroid">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-black">42 C.A.R.E.S Clinical Services</h2>
                </div>

            </div>
        </div>
    </section>
    <section class="responsive">
        <div class="responsive">
            <div class="row">
                <div class="blog-entry">
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-7 text-center">
                            <label><strong>Alicia "AJ" Jones Pittman, LSCSW, LCSW, LMAC, SEP is the Behavioral Program Director for 42 C.A.R.E.S.</strong> </label>

                            <img src="~/Content/images/aj.jpeg" alt="biopicture" class="responsive">
                            <div class="responsive">
                                <p>"AJ" earned both her undergraduate degree in psychology & Master of Social Work (MSW) degree from the University of Kansas. Alicia is an experienced psychotherapist who specializes in the areas of resiliency, trauma and addiction.  Alicia utilizes several therapeutic modalities to include Somatic Experiencing™ (SE®), EMDR, DBT, ACT. Alicia has extensive experience in working with veterans, first responders and their families. Alicia is passionate about supporting people to better understand their normal human responses to circumstances that can feel abnormal.</p>
                                <p>Alicia feels passionately about working with people to reduce the effects of trauma in their lives and help sustain healthy living for both individuals and families.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <p>We are here to provide you with the support that you need to continue to live a healthy life.</p>
                    <img src="~/Content/images/KCFD.jpg" />
                </div>

                <div class="col-md-3 ml-auto">
                    <h2 class="footer-heading mb-4">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                        <li><a href="#training-section" class="smoothscroll">Clinical Team</a></li>
                        <li><a href="#services-section" class="smoothscroll">Services</a></li>
                        <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    @*<div class="mb-5">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>*@
                    @*<h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                        <form action="#" method="post" class="footer-subscribe">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>

                                </div>
                            </div>
                        </form>*@
                </div>
            </div>
            <div class="row pt-5 mt-5 text-left">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p class="copyright">
                            <small>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </small>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </footer>
}