@{
    @ViewBag.Title
}

<style>
    img {
        float: right;
        max-height: 500px;
        overflow: auto;
        border: 5px solid #FFD700;
    }

    .img2 {
        float: right;
        border: 5px solid #FFD700;
        max-height: 500px;
        
    }

    div.container {
        text-align: center;
        /*padding: 10px 20px;*/
        font-size: 18px;
    }

    body {
        font-family: 'Times New Roman', Times, serif background-color: #2ee7ff;
        background: -webkit-linear-gradient(top right, #525994, #000000);
        background: -moz-linear-gradient(top right, #525994, #000000);
        background: linear-gradient(to bottom left, #525994, #000000);
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-size: 18px;
    }
</style>

<section class="responsive">
    <div class="row mb-5">

        <img src="~/Content/images/KCFDcropresize2.png" class="responsive" />

    </div>
</section>
<section>
    <div class="polaroid">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 style="color:gold">Clinical Information</h2>
            </div>

        </div>
    </div>
</section>
<section class="responsive">
    <div class="responsive">
        <div class="row">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h4 style="color: gold">
                        <strong>Alicia "AJ" Jones Pittman, LSCSW, LCSW, LMAC, SEP is the Clinician for 42 C.A.R.E.S.</strong>
                    </h4>


                    <div class="responsive">

                        <p style="font-size: 18px; text-align:left">
                            <img src="~/Content/images/ajnoborder.png" alt="Alicia Jones" style="width:460px; height:350px; margin: 15px; text-align:left; border-color: gold" />42 C.A.R.E.S. (Counseling, Assessments, Resilience & Education) was established after the IAFF and Local 42 recognized that maintaining first responder behavioral health is an essential priority. Local 42 created the is resource to have a dedicated clinician, AJ, who provides referrals, crisis intervention, peer support connections and general behavioral health support for members and their families.<br />

                            AJ earned her undergraduate degree in psychology & Master of Social Work (MSW) degree from the University of Kansas. She is an experienced psychotherapist who specializes in the areas of resiliency, trauma and addiction. Alicia utilizes several therapeutic modalities including Somatic Experiencing™ (SE®), EMDR, DBT, ACT with a few others. AJ works with first responders and their families by helping them to better understand their normal human responses to circumstances that can feel abnormal.
                        </p>

                        <h4 style="font-size: 18px; text-align:left">Alicia has vetted many therapists in the Kansas City Metro area and included links to those therapists in the menu option named "EAP".</h4>
                        <br />
                        <p>If you prefer, you may connect with a behavior health expert 24/7/365 who can assess your needs or simply connect you to a clinician.<br /><a class="buttonlink" href="tel:+18772813804">1-877-281-3804 or </a> <a href="https://eap.ndbh.com/Home/Login?ReturnUrl=%2F" target="_blank"> eap.ndbh.com.</a></p>
                        <br />
                        <h4 style="color: gold"><strong>Peer Support Program for 42 C.A.R.E.S.</strong></h4>
                        <br />
                        <p style="font-size: 18px; text-align:left; vertical-align: middle">
                            <img class="img2" src="~/Content/images/uniforms.png" alt="Alicia Jones" style="width:460px; height:375px; margin: 15px" />The Peer Support Program is made up of fire service and EMS members just like you. Peer Support provides an opportunity to talk confidentially with someone who understands what you are experiencing because they have also been there.<br /> <br /> This is confidential assistance provided by trained, experienced personnel who are always ready to answer the call to help their brothers and sisters regardless of the need. <br /><br />Please reach out to AJ to let her know that you would like or know of someone who may want support from a peer counselor.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

