@{
    @ViewBag.Title
}

<style>
    img {
        float: right;
        max-height: 500px;
        overflow: auto;
        border: 5px solid white;
    }
    .img2 {
        float: right;
        border: 5px solid white;
        max-height: 500px;
    }
    div.container {
        text-align: center;
        /*padding: 10px 20px;*/
        font-size: 18px;
    }
   
    body {
        font-family: 'Times New Roman', Times, serif background-color: #2ee7ff;
        background-color: #7366ff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%236655ed' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%235a44da' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%234d32c8' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%234121b5' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%233410a3' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        color: white;
    }
</style>

<section class="responsive">
        <div class="row mb-5">
            
                <img src="~/Content/images/KCFDcropresize2.png" class="responsive" />

            </div>
</section>
<section>
    <div class="polaroid">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                
            </div>

        </div>
    </div>
</section>
<section class="responsive">
    <div class="responsive">
        <div class="row">
                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-center">
                        <h4 style="color: gold">
                            <strong>Alicia "AJ" Jones Pittman, LSCSW, LCSW, LMAC, SEP is the Clinician for 42 C.A.R.E.S.</strong></h4>


                            <div class="responsive">

                                <p style="font-size: 18px">
                                    <img src="~/Content/images/ajnoborder.png" alt="Alicia Jones" style="width:460px; height:350px; margin: 15px;" class="clearfix" />42 C.A.R.E.S. (Counseling, Assessments, Resilience & Education) was established after the IAFF and Local 42 recognized that maintaining first responder behavioral health is an essential priority. Local 42 created the is resource to have a dedicated clinician, AJ, who provides referrals, crisis intervention, peer support connections and general behavioral health support for members and their families.

                                    AJ earned her undergraduate degree in psychology & Master of Social Work (MSW) degree from the University of Kansas. She is an experienced psychotherapist who specializes in the areas of resiliency, trauma and addiction. Alicia utilizes several therapeutic modalities including Somatic Experiencing™ (SE®), EMDR, DBT, ACT with a few others. AJ works with first responders and their families by helping them to better understand their normal human responses to circumstances that can feel abnormal.
                                </p>

                                <h4 style="font-size: 18px">Alicia has vetted many therapists in the Kansas City Metro area and included links to those therapists in the menu option named "EAP".</h4>
                                <br />

                                <br />
                                <h4 style="color: gold"><strong>Peer Support Program for 42 C.A.R.E.S.</strong></h4>
                                <br />
                                <p style="font-size: 18px; text-align:center"><img class="img2" src="~/Content/images/uniforms.png" alt="Alicia Jones" style="width:475px; height:375px," />The Peer Support Program is made up of fire service and EMS members just like you. Peer Support provides an opportunity to talk confidentially with someone who understands what you are experiencing because they have also been there. This is confidential assistance provided by trained, experienced personnel who are always ready to answer the call to help their brothers and sisters regardless of the need. Please reach out to AJ to let her know that you would like or know of someone who may want support from a peer counselor.
                                </p>

                            </div>
</div>
                </div>
            </div>
       
</section>

