@{
    @ViewBag.Title
}
<section class="site-blocks-cover overflow-hidden">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 align-self-center">
                <h1 class="text-white-opacity-05">EAP</h1>

                <style>
                    div.polaroid {
                        width: 100%;
                        background-color: white;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        margin-bottom: 25px;
                    }

                    div.container {
                        text-align: center;
                        padding: 10px 20px;
                    }
                </style>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="polaroid">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h3 class="text-black">List of Preferred Clinicians, their location and a Contact Link:-</h3>
                <em><strong>Please Note: These clinicians are a part of the employee assistance program (EAP). You and your family may have 7 free visits with a counselor/therapist and this service is only for KCFD members (at this time). Please call our EAP number (877)281-3804, identify yourself as with 42CARES/KCFD so you may receive preauthorization.  You will need to know which clinician you are meeting with prior to requesting a preauthorization. </strong></em>
            </div>

            <div class="col-md-12 text-center">
                <p>
                    <h4><strong>North Kansas City, MO</strong></h4>
                </p>
                <p>
                    • Kersey, Cleveland - <a href="https://www.metiscounseling.com/about-us/" target="_blank">https://www.metiscounseling.com/about-us/</a>
                </p>
                <p>
                    • Kuykendall, Mark (John) - <a href="https://acornkc.com" target="_blank">https://acornkc.com</a>
                </p>
                <p>
                    • Lee, Sunny - <a href="https://www.metiscounseling.com/about-us/" target="_blank">https://www.metiscounseling.com/about-us/</a>
                </p>
                <p>
                    • Rosenbaum, Amanda “Mandy” - <a href="https://www.strategictraumarecoveryllc.com/clinicians.html" target="_blank">https://www.strategictraumarecoveryllc.com/clinicians.html</a>
                </p>
                <p>
                    • Wilper, Sara - <a href="https://www.psychologytoday.com/us/therapists/sara-wilper-kansas-city-mo/216702" target="_blank">https://www.psychologytoday.com/us/therapists/sara-wilper-kansas-city-mo/216702</a>
                </p>

                <p>
                    <h4><strong>South Kansas City, MO</strong></h4>
                </p>
                <p>
                    • Johnson, Josh	- <a href="https://joshjohnsoncounseling.com/" target="_blank">https://joshjohnsoncounseling.com/</a>
                </p>
                <p>
                    • Peterson, Carol - <a href="https://www.healthcare4ppl.com/physician/missouri/kansas-city/carol-b-peterson-1639381155.html" target="_blank">Healthcare For People</a>
                </p>
                <p>
                    • Rogers, Burt - <a href="https://openpathcollective.org/clinicians/burton-rogers-2/" target="_blank">https://www.firstcallkc.org/individuals</a>
                </p>
                <p>
                    • Peterson, Carol - <a href="https://www.healthcare4ppl.com/physician/missouri/kansas-city/carol-b-peterson-1639381155.html" target="_blank">Healthcare For People</a>
                </p>
                <p>
                    • Rogers, Burt - <a href="https://openpathcollective.org/clinicians/burton-rogers-2/" target="_blank">https://www.firstcallkc.org/individuals</a>
                </p>
                <p>
                    <h4><strong>18th and Vine, KCMO</strong></h4>
                </p>
                <p>
                    • Carr, Kortney - <a href="http://www.alifesjourneykc.org/therapists.html" target="_blank">http://www.alifesjourneykc.org/therapists.html</a>
                </p>
                <p>
                    • Jones, Alicia - <a href="http://www.alifesjourneykc.org/therapists.html" target="_blank">http://www.alifesjourneykc.org/therapists.html</a>
                </p>
                <p>
                    <h4><strong>Liberty</strong></h4>
                </p>
                <p>
                    • Robinson, Jill - <a href="https://www.clinicalcounselingassociates.org/therapists" target="_blank">https://www.clinicalcounselingassociates.org/therapists</a>
                </p>
                <p>
                    • Slack, Sheena - <a href="https://www.clinicalcounselingassociates.org/therapists" target="_blank">https://www.clinicalcounselingassociates.org/therapists</a>
                </p>
                <p>
                    <h4><strong>Overland Park, KS</strong></h4>
                </p>
                <p>
                    • Gaal, Erin - <a href="https://www.psychologytoday.com/us/therapists/erin-l-gaal-overland-park-ks/480283" target="_blank">https://www.psychologytoday.com/us/therapists/erin-l-gaal-overland-park-ks/480283</a>
                </p>
                <p>
                    <h4><strong>Independence, MO</strong></h4>
                <p>
                    • Kervin, Margaux - <a href="http://www.kcpps.org/new-patient-request.html" target="_blank">http://www.kcpps.org/new-patient-request.html</a>
                </p>
                <p>
                    • Richerson, Lauren - <a href="http://www.kcpps.org/new-patient-request.html" target="_blank">http://www.kcpps.org/new-patient-request.html</a>
                </p>
                <p>
                    • Ezechiels, Watt - <a href="http://www.kcpps.org/new-patient-request.html" target="_blank">http://www.kcpps.org/new-patient-request.html</a>
                </p>
                <p>
                    • May, Adam - <a href="http://www.kcpps.org/new-patient-request.html" target="_blank">http://www.kcpps.org/new-patient-request.html</a>
                </p>
                <p>
                    • Garner, Brian - <a href="http://www.kcpps.org/new-patient-request.html" target="_blank">http://www.kcpps.org/new-patient-request.html</a>
                </p>
            </div>
        </div>
    </div>
</section>