@{
    @ViewBag.Title
}
@model _42Cares.UI.MVC.Controllers.MessageViewModel
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{

    <section class="site-blocks-cover overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-11">
                            <h1 class="ml2"><span>4</span><span>2</span><span> </span><span>C.</span><span>A.</span><span>R.</span><span>E.</span><span>S.</span></h1>
                            <p>
                                Counseling | Assessment | Resilience | Education | Support
                            </p>
                            <p><em>"Pain shared is often pain lessened..."</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">

                <div class="col-12" style="margin-top: -7%;">
                    <div class="slide-one-item home-slider owl-carousel">
                        <img src="~/Content/images/firehat.jpg" alt=free class="img-fluid img">
                        <img src="~/Content/images/support.jpg" alt=Free class="img-fluid img">
                        <img src="~/Content/images/hydrant.jpg" alt=Free class="img-fluid img">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="site-section" id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-black">What is 42 C.A.R.E.S?</h2>
                </div>
                <div>
                    <p>The IAFF has made behavioral health a priority for fire and emergency services and <bold>Local 42</bold> has followed in their footsteps. We now have a clinician available 24/7 to support members and their families as a behavioral health liaison for referrals, crisis intervention and general behavioral health concerns.</p>
                    <p>42 C.A.R.E.S. (Counseling, Assessments, Resilience & Education) was established after the IAFF and Local 42 recognized that maintaining first responder behavioral health is an essential priority. Local 42 created the is resource to have a dedicated clinician who provides referrals, crisis intervention, peer support connections and general behavioral health support for members and their families. </p>
                    @*<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>*@
                </div>
                <div class="center">
                    <img src="~/Content/images/42logoresize.png" alt="logo" class="center">
                </div>
            </div>
        </div>
    </section>
    <section class="site-section bg-light" id="training-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-black">42 C.A.R.E.S Mission Statement</h2>
                </div>
            </div>
            @*<div class="nonloop-block-13 owl-style owl-carousel">
                <div class="training">
                    <figure class="mb-4"><img src="~/Content/images/coach_1_sm.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
                    <h3 class="text-black mb-3">Therapeutic Services</h3>
                    <p>Alicia utilizes several therapeutic modalities to include Somatic Experiencing™ (SE®), EMDR, DBT, ACT. She has extensive experience in working with veterans, first responders and their families. Alicia is passionate about supporting people to better understand their normal human responses to circumstances that can feel abnormal.</p>
                </div>
                <div class="training">
                    <figure class="mb-4"><img src="~/Content/images/coach_2_sm.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
                    <h3 class="text-black mb-3">Peer Support</h3>
                    <p>Local 42 provides a Peer Support Program made up of fire service and EMS members just like you. Peer Support provides an opportunity to talk confidentially with someone who understands what you are experiencing because they have also been there..</p>
                </div>
                <div class="training">
                    <figure class="mb-4"><img src="~/Content/images/coach_3_sm.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
                    <h3 class="text-black mb-3">Behavioral Health Referrals</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="training">
                    <figure class="mb-4"><img src="~/Content/images/coach_1_sm.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
                    <h3 class="text-black mb-3">7 Free Counseling Visits</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="training">
                    <figure class="mb-4"><img src="~/Content/images/coach_2_sm.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
                    <h3 class="text-black mb-3">Our Lead Clinician</h3>
                    <p>Alicia (AJ) Jones Pittman, LSCSW, LCSW, LMAC, SEP is the Behavioral Program Director for 42C.A.R.E.S. AJ earned both her undergraduate degree in psychology & Master of Social Work (MSW) degree from the University of Kansas. She is a psychotherapist who specializes in resiliency, trauma and addiction.  </p>
                </div>
            </div>*@
        </div>
    </section>
    <section class="site-section" id="services-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-black">Community Resources and Services</h2>
                    <p><em>"There is no need to suffer silently and there is no shame in seeking help."</em></p>
                </div>
            </div>
            <div class="nonloop-block-13 owl-style owl-style-md owl-carousel">
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Therapeutic Services</h3>
                    <p>Identify symptoms of stress, avoidance, altered mood/cognition or even something as simple as just not feeling like yourself, you may be able to avoid addition harm to yourself and others by using these resources.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Suicide Prevention</h3>
                    <p>
                        Peer Support is confidential assistance provided by trained, experienced personnel who are always ready to answer the call to help their brothers and sisters regardless of the need.
                    </p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Behavioral Health Referrals</h3>
                    <p>Behavioral health referrals are available to assist with mental health and addiction needs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">7 Free Counseling Visits</h3>
                    <p>Up to seven counseling visits are available with a licensed clinician who can provide assistance and further referrals for any ongoing needs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Crisis Intervention</h3>
                    <p>If you feel you are experiencing a crisis reach out for assistance.  Our experienced clinicians are trained to deal with various types of crisis and can assist you in navigating whatever you may be experiencing.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Equine Therapy</h3>
                    <p>Equine therapy has demonstrated excellent results for dealing with trauma and stress for participants in those programs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">12 Step Recovery Meetings</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Confidential Visit with a Clinician</h3>
                    <p>All clinical visits are treated with the upmost confidentiality for the individual seeking services.</p>
                </div>
            </div>
        </div>

    </section>

  
}