@{
    @ViewBag.Title
}
@model _42Cares.UI.MVC.Controllers.MessageViewModel
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <style>
        .img3 {
            border-radius: 50%;
        }

        .img4 {
            float: left;
        }

        img {
            border: 5px solid #052c42;
        }

        body {
            font-size: 18px;
        }
        .ml2{
            font-family: 'Times New Roman', Times, serif, Times, serif;
        }
        body {
            font-family: 'Times New Roman', Times, serif
        }
    </style>
    <section class="site-blocks-cover overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-11">
                            <h1 class="ml2"><span>4</span><span>2</span><span> </span><span>C.</span><span>A.</span><span>R.</span><span>E.</span><span>S.</span></h1>
                            <h2>
                                Counseling | Assessment | Resilience | Education | Support
                            </h2>
                            <h3><em>"Pain shared is often pain lessened..."</em></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">

                <div class="col-12" style="margin-top: -7%;">
                    <div class="slide-one-item home-slider owl-carousel">
                        <img src="~/Content/images/firehat.jpg" alt=free class="img-fluid img">
                        <img src="~/Content/images/support.jpg" alt=Free class="img-fluid img">
                        <img src="~/Content/images/hydrant.jpg" alt=Free class="img-fluid img">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="site-section bg-light" id="training-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-left">
                    <h2 class="text-black">42 C.A.R.E.S Mission Statement</h2>
                    <p style="font-size: 18px">The mission of 42 C.A.R.E.S. (Cares, Assessment, Resilience, Education, Support) is to proactively provide care/support that assist members and their families with managing behavioral health concerns in order to protect and promote their overall health and well-being.</p>
                </div>
                <div style="text-align: center"><img class="img3" src="~/Content/images/42logoMD.png" style="width:200px" /></div>

                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-left">
                        <div style="text-align: center"><img class="img4" src="~/Content/images/flagkcfd.png" style="width:200px" /></div>
                        
                        
                            <p style="font-size: 18px">The IAFF has made behavioral health a priority for fire and emergency services and <strong>Local 42</strong> has followed in their footsteps. We now have a clinician available 24/7 to support members and their families as a behavioral health liaison for referrals, crisis intervention and general behavioral health concerns.</p>
                            <p style="font-size: 18px">42 C.A.R.E.S. (Counseling, Assessments, Resilience & Education) was established after the IAFF and Local 42 recognized that maintaining first responder behavioral health is an essential priority. Local 42 created the is resource to have a dedicated clinician who provides referrals, crisis intervention, peer support connections and general behavioral health support for members and their families. </p>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>


    <section class="site-section" id="services-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-black">Community Resources and Services</h2>
                    <p><em>"There is no need to suffer silently and there is no shame in seeking help."</em></p>
                </div>
            </div>
            <div class="nonloop-block-13 owl-style owl-style-md owl-carousel">
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Therapeutic Services</h3>
                    <p>Identify symptoms of stress, avoidance, altered mood/cognition or even something as simple as just not feeling like yourself, you may be able to avoid addition harm to yourself and others by using these resources.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Suicide Prevention</h3>
                    <p>
                        Peer Support is confidential assistance provided by trained, experienced personnel who are always ready to answer the call to help their brothers and sisters regardless of the need.
                    </p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Behavioral Health Referrals</h3>
                    <p>Behavioral health referrals are available to assist with mental health and addiction needs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">7 Free Counseling Visits</h3>
                    <p>Up to seven counseling visits are available with a licensed clinician who can provide assistance and further referrals for any ongoing needs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Crisis Intervention</h3>
                    <p>If you feel you are experiencing a crisis reach out for assistance.  Our experienced clinicians are trained to deal with various types of crisis and can assist you in navigating whatever you may be experiencing.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Equine Therapy</h3>
                    <p>Equine therapy has demonstrated excellent results for dealing with trauma and stress for participants in those programs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">12 Step Recovery Meetings</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Confidential Visit with a Clinician</h3>
                    <p>All clinical visits are treated with the upmost confidentiality for the individual seeking services.</p>
                </div>
            </div>
        </div>

    </section>


}
