@{
    @ViewBag.Title
}
<style>
    img {
        
        max-height: 500px;
        overflow: auto;
    }
    body {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<section class="responsive">
    <div class="row mb-5">

        <img src="~/Content/images/KCFDcropresize2.png" class="responsive" />

    </div>
</section>
       <section>
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 align-self-center">
                   

               
                </div>
            </div>
        
 </section>
 <section>
        <div class="polaroid">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h1>Resource List</h1>
                    @*<p><em>All of these resources are confidential.</em></p>*@
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="col-md-12 text-center">
            <p>
                <em><strong>Substance Misuse:-</strong></em>
            </p>
            <p>
                • Alcoholic Anonymous (AA) <a href="https://kc-aa.org" target="_blank">https://kc-aa.org</a>
            </p>
            <p>
                • Al-Anon and Alateen  provide support meetings for family members of those struggling with addiction. <a href=" https://www.missouri-al-anon.org" target="_blank">https://www.missouri-al-anon.org</a>
            </p>
            <p>
                • Narcotics Anonymous (NA) <a href="https://www.kansascityna.org" target="_blank">https://www.kansascityna.org</a>
            </p>
            <p>
                • Nar-anon is a support group meeting for family members, rather than the person struggling with addiction. <a href="http://www.naranonkc.org" target="_blank">http://www.naranonkc.org</a>
            </p>
            <p>
                • Sex Addicts Anonymous (SSA) <a href="https://saa-recovery.org" target="_blank">https://saa-recovery.org</a>
            </p>
            <p>
                • Overeaters Anonymous (OA) <a href="http://www.kansascityoa.org/index.html" target="_blank">http://www.kansascityoa.org/index.html</a>
            </p>
            <p>
                • Children of Alcoholics   is asupport groups that helps adults who grew up in addiction affected homes who are seeking identification and seek support to change. <a href="https://adultchildren.org" target="_blank">https://adultchildren.org</a>
            </p>
            <p>
                • First Call provides substance abuse assessment, and outpatient treatment. Call <a href="tel:+18163615900">816-361-5900 </a>
                24/7 or visit <a href="https://www.firstcallkc.org/individuals" target="_blank">https://www.firstcallkc.org/individuals</a>
            </p>
        </div>
    </section>
    <section>
        <div class="col-md-12 text-center">
            <p>
                <em><strong> Crisis:-</strong></em>
            </p>
            <p>
                National Alliance on Mental Illness (NAMI) can provide information, support groups, family support and crisis intervention. <a href="tel:+18009506264">1-800-950-6264 </a> or email for more information at <a href="mailto: infor@nami.org">infor@nami.org</a>
            </p>
            <p>
                Mental Health America Hotline (MHA) Text 74174, this is a crisis text line.
            </p>
            <p>
                Substance Abuse and Mental Health Services Administration (SAMHSA) hotline provides support and connection to treatments. <a href="tel:+18006624357">1-800-662-4357</a>
            </p>
            <p>
                The National Institute of Mental Health (NIMH) agency is a resource for people wanting information on mental health issues. <a href="tel:+18666156464">1-866-615-6464</a>
            </p>
            <p>
                National Suicide Prevention Lifeline provides crisis intervention and emotional support 24/7. <a href="tel:+18002738255">1-800-273-8255</a>.
            </p>
            <p>
                Alicia (AJ) Jones Pittman <a href="tel:+19135234090">1-913-523-4090 </a> or via email at <a href="mailto: ajones@iaff42.org">ajones@iaff42.org</a>
            </p>
        </div>
    </section>
    
}