@{
    ViewBag.Title = "Home";
}
@model _42Cares.UI.MVC.Controllers.MessageViewModel
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    
        <section class="site-blocks-cover overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 align-self-center">
                        @*<div class="row">
                            <div class="col-lg-11">
                                <h1 class="ml2"><span>4</span><span>2</span><span> </span><span>C.</span><span>A.</span><span>R.</span><span>E.</span><span>S.</span></h1>

                                @*<h1>42 C.A.R.E.S <span class="typed-words" Name="typed-words" tagName="typed-words"></span></h1>*
                                <p>
                                    Counseling | Assessment | Resilience | Education | Support
                                </p>
                                <p><em>Pain shared is often pain lessened...</em></p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>  

    </section>

    @*<section>
            <div class="container">
                <div class="row">

                    <div class="col-12" style="margin-top: -7%;">
                        <div class="slide-one-item home-slider owl-carousel">
                            <img src="~/Content/images/firehat.jpg" alt=free class="img-fluid img">
                            <img src="~/Content/images/support.jpg" alt=Free class="img-fluid img">
                            <img src="~/Content/images/hydrant.jpg" alt=Free class="img-fluid img">
                        </div>
                    </div>
                </div>
            </div>

        </section>*@
    <section class="site-section" id="services-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-black">Community Resources and Services</h2>
                    <p><em>"There is no need to suffer silently and there is no shame in seeking help."</em></p>
                </div>
            </div>
            <div class="nonloop-block-13 owl-style owl-style-md owl-carousel">
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Therapeutic Services</h3>
                    <p>Identify symptoms of stress, avoidance, altered mood/cognition or even something as simple as just not feeling like yourself, you may be able to avoid addition harm to yourself and others by using these resources.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Suicide Prevention</h3>
                    <p>
                        Peer Support is confidential assistance provided by trained, experienced personnel who are always ready to answer the call to help their brothers and sisters regardless of the need.
                    </p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Behavioral Health Referrals</h3>
                    <p>Behavioral health referrals are available to assist with mental health and addiction needs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">7 Free Counseling Visits</h3>
                    <p>Up to seven counseling visits are available with a licensed clinician who can provide assistance and further referrals for any ongoing needs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Crisis Intervention</h3>
                    <p>If you feel you are experiencing a crisis reach out for assistance.  Our experienced clinicians are trained to deal with various types of crisis and can assist you in navigating whatever you may be experiencing.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Equine Therapy</h3>
                    <p>Equine therapy has demonstrated excellent results for dealing with trauma and stress for participants in those programs.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">12 Step Recovery Meetings</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="service">
                    <div class="icon"><span class="flaticon-teamwork display-1 text-primary"></span></div>
                    <h3 class="text-black mb-3">Confidential Visit with a Clinician</h3>
                    <p>All clinical visits are treated with the upmost confidentiality for the individual seeking services.</p>
                </div>
            </div>
            <div>
                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="text-black">Resource List</h2>
                        <p><em>All of these resources are confidential.</em></p>
                    </div>
                </div>
                <div class="col-md-12 text-left">
                    <p>
                        <em><strong>Substance Misuse:-</strong></em>
                    </p>
                    <p>
                        • Alcoholic Anonymous (AA) <a href="https://kc-aa.org" target="_blank">https://kc-aa.org</a>
                    </p>
                    <p>
                        • Al-Anon and Alateen  provide support meetings for family members of those struggling with addiction. <a href=" https://www.missouri-al-anon.org" target="_blank">https://www.missouri-al-anon.org</a>
                    </p>
                    <p>
                        • Narcotics Anonymous (NA) <a href="https://www.kansascityna.org" target="_blank">https://www.kansascityna.org</a>
                    </p>
                    <p>
                        • Nar-anon is a support group meeting for family members, rather than the person struggling with addiction. <a href="http://www.naranonkc.org" target="_blank">http://www.naranonkc.org</a>
                    </p>
                    <p>
                        • Sex Addicts Anonymous (SSA) <a href="https://saa-recovery.org" target="_blank">https://saa-recovery.org</a>
                    </p>
                    <p>
                        • Overeaters Anonymous (OA) <a href="http://www.kansascityoa.org/index.html" target="_blank">http://www.kansascityoa.org/index.html</a>
                    </p>
                    <p>
                        • Children of Alcoholics   is asupport groups that helps adults who grew up in addiction affected homes who are seeking identification and seek support to change. <a href="https://adultchildren.org" target="_blank">https://adultchildren.org</a>
                    </p>
                    <p>
                        • First Call provides substance abuse assessment, and outpatient treatment. Call <a href="tel:+18163615900">816-361-5900 </a>
                        24/7 or visit <a href="https://www.firstcallkc.org/individuals" target="_blank">https://www.firstcallkc.org/individuals</a>
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <p>
                        <em><strong> Crisis:-</strong></em>
                    </p>
                    <p>
                        National Alliance on Mental Illness (NAMI) can provide information, support groups, family support and crisis intervention. <a href="tel:+18009506264">1-800-950-6264 </a> or email for more information at <a href="mailto: infor@nami.org">infor@nami.org</a>
                    </p>
                    <p>
                        Mental Health America Hotline (MHA) Text 74174, this is a crisis text line.
                    </p>
                    <p>
                        Substance Abuse and Mental Health Services Administration (SAMHSA) hotline provides support and connection to treatments. <a href="tel:+18006624357">1-800-662-4357</a>
                    </p>
                    <p>
                        The National Institute of Mental Health (NIMH) agency is a resource for people wanting information on mental health issues. <a href="tel:+18666156464">1-866-615-6464</a>
                    </p>
                    <p>
                        National Suicide Prevention Lifeline provides crisis intervention and emotional support 24/7. <a href="tel:+18002738255">1-800-273-8255</a>.
                    </p>
                    <p>
                        Alicia (AJ) Jones Pittman <a href="tel:+19135234090">1-913-523-4090 </a> or via email at <a href="mailto: ajones@iaff42.org">ajones@iaff42.org</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="footer-heading mb-4">42 C.A.R.E.S.</h2>
                    @*<p>We are here to provide you with the support that you need to continue to live a healthy life.</p>*@
                    <img src="~/Content/images/KCFD.jpg" />
                </div>

                <div class="col-md-3 ml-auto">
                    <h2 class="footer-heading mb-4">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                        <li><a href="#training-section" class="smoothscroll">Clinical Team</a></li>
                        <li><a href="#services-section" class="smoothscroll">Services</a></li>
                        <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="mb-5">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post" class="footer-subscribe">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-left">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p class="copyright">
                            <small>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </small>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </footer>
}